- @message = message if defined? message
- placeholder = @message.lawyer.present? ? "Ask #{@message.lawyer.first_name} a question ..." : ''
- if @message
  = form_for @message do |f|
    = f.hidden_field :client_id
    = f.hidden_field :lawyer_id
    - if @message.lawyer.present?
      = f.text_field :body, :placeholder => placeholder, :readonly => true, :class => (logged_in? && current_user.is_lawyer?) ? 'only_for_client' : 'dialog-opener', 'data-fullname' => @message.lawyer.first_name, 'data-l-id' => @message.lawyer.id, :href => '#schedule_session'
    - else 
      = f.text_field :body, :placeholder => placeholder, :readonly => true
    = f.submit 'Ask', :id => :message_submit_button, :disabled => true
