<div class="row offering" id="offering_<%= offering.id %>">
  <%= hidden_field(:current, :lid) %>
    <div class="action">
      <div class="free"><%= "#{number_to_currency(offering.fee, precision: 0)} flat fee" %></div>
      <div class="price">free consultation</div>
    </div>

    <%= link_to_unless_current(image_tag(lawyer.photo.url(:thumb), class: "hide_on_attorneys"), attorney_path(lawyer, slug: lawyer.slug)) %>
   <div class="info">
      <h3>
        <%= link_to_unless_current "#{offering.name}", offering %>
      </h3>
      <%= simple_format offering.description, class: "description" %>
      <% if offering.practice_area.present? %>
        <p>Practice area: <%= offering.practice_area.name %></p>
      <% end %>
      <p class="hide_on_attorneys">Delivered by: <%= link_to lawyer.full_name, attorney_path(lawyer, slug: lawyer.slug) %> <span class="status"><%= status_message(lawyer) %></span></p>
      <div class="action-buttons">
        <%= start_or_schedule_button(lawyer) %>
        <% if lawyer.is_online && !lawyer.is_busy && lawyer.phone.present? %>
          <%= start_phone_consultation(lawyer) %>
        <% end %>
      </div>
    </div>
    <div class="clear"></div>
    <!-- END RESULT INFO -->
</div>
