- if params[:ft]
  %p.notice{:style => "margin-bottom:10px;"}
    %b All set! Get started by adding some services you offer to clients.
    Once we’ve verified your bar membership, we’ll email you to let you know that you’re listed on Lawdingo.
    %a#close_notice{:href => "#"} Close
#page.offerings
  %div
    .profile
      = render partial: "lawyer/menu", locals: { lawyer: current_user }
      .profile-block
        #offerings
          %h3 My fixed-price offers:
          - if @lawyer.offerings.any?
            %ul.offerings-list
              - @lawyer.offerings.each do |offering|
                - unless offering.id.to_i == 0
                  = content_tag_for :li, offering, data: {id: offering.id} do
                    = link_to offering.name, controller: "offerings", action: "show", id: offering.id
                  .controls
                    = link_to "Edit", { controller: "offerings", action: "edit", id: offering.id }, class: "edit"
                    = link_to "Delete", { controller: "offerings", action: "destroy", id: offering.id }, method: "delete", confirm: "Are you sure?", class: "delete"
          - else
            %p{:style => "color: #999;"} [none inputted yet]
        #new_offering
          = render template: "offerings/new"