<% if params[:ft] %>
<p class="notice" style="margin-bottom:10px;">
    <b>All set! Get started by adding some services you offer to clients.</b> Once we’ve verified your bar membership, we’ll email you to let you know that you’re listed on Lawdingo.
    <a href="#" id="close_notice">Close</a>
  </p>
<% end %>
<div id="page" class="offerings">
  <div>
    <%= render partial: "lawyer/menu", locals: { lawyer: current_user } %>

    <div id="offerings">
      <h3>My fixed-price offers:</h3>
      <% if @lawyer.offerings.any? %>
        <ul class="offerings-list">
          <% @lawyer.offerings.each do |offering| %>
            <% unless offering.id.to_i == 0 %>
              <%= content_tag_for :li, offering, data: {id: offering.id} do %>
                <%= link_to offering.name, controller: "offerings", action: "show", id: offering.id %>
                <div class="controls">
                  <%= link_to "Edit", { controller: "offerings", action: "edit", id: offering.id }, class: "edit" %>
                  <%= link_to "Delete", { controller: "offerings", action: "destroy", id: offering.id }, method: "delete", confirm: "Are you sure?", class: "delete" %>
                </div>
              <% end %>
            <% end %>
          <% end %>
        </ul>
      <% else %>
        <p style="color: #999;">[none inputted yet]</p>
      <% end %>
    </div>
    <div id="new_offering">
      <%= render template: "offerings/new" %>
    </div>
  </div>
</div>

