<% if current_user.is_lawyer? %>
<h3>You are now shown as available to take calls. Keep this page open to remain available.</h3>
<% end %>
<% if @conversations.size.zero? %>
  No conversations to list!
<% else %>

  <% if current_user.is_lawyer?  %>
    <br/>
    Your summary of earnings and sessions: <br/><br/>
    <table class="summary">
      <thead style="font-weight:bold;">
        <tr>
          <td> Client Name </td>
          <td> Session Start </td>
          <td> Duration of Session </td>
          <td> Paid Duration </td>
          <td> Rate </td>
          <td> Amount Earned </td>
        </tr>
      </thead>
      <tbody>
        <% @conversations.each{|con| %>
          <tr>
            <td> <%= con.client_name %> </td>
            <td> <%= con.start_date %> </td>
            <td> <%= seconds_in_string con.duration %> </td>
            <td> <%= seconds_in_string con.billed_time %> </td>
            <td> <%= number_to_currency con.lawyer_rate %>/min </td>
            <td> <%= number_to_currency con.lawyer_earning %> </td>
          </tr>
        <% } %>
        <% user = current_user.corresponding_user %>
        <tr class="total">
          <td> </td>
          <td> <%= @conversations.size %> Sessions </td>
          <td> <%= seconds_in_string user.total_session_duration %> </td>
          <td> <%= seconds_in_string user.total_paid_duration %> </td>
          <% avg_rate = user.total_earning == 0? 0 : (user.total_earning/(user.total_paid_duration.to_f/60)) %>
          <td><%= number_to_currency avg_rate %>/min</td>
          <td> <%= number_to_currency user.total_earning.to_i %> </td>
        </tr>
      </tbody>
    </table><br/>
    <!--p>Checks are mailed at the end of the each month. Would you like it sooner? Just email to <a href="payments@lawdingo.com">payments@lawdingo.com</a>.</p-->
<p>Payments are made at the end of the month. Prefer a check? Want it sooner? Email <a href="mailto:payments@lawdingo.com">payments@lawdingo.com</a> with any requests.</p>
  <% else %>
    <table class="summary">
      <thead style="font-weight:bold;">
        <tr>
          <td> Lawyer Name </td>
          <td> Session Start </td>
          <td> Duration of Session </td>
          <td> Paid Duration </td>
          <td> Rate </td>
          <td> Lawdingo Fee </td>
          <td> Amount Billed </td>
        </tr>
      </thead>
      <tbody>
        <% @conversations.each{|con| %>
          <tr>
            <td> <%= con.lawyer_name %> </td>
            <td> <%= con.start_date %> </td>
            <td> <%= seconds_in_string con.duration %> </td>
            <td> <%= seconds_in_string con.billed_time %> </td>
            <td> <%= number_to_currency con.lawyer_rate %>/min </td>
            <td> <%= number_to_currency con.lawdingo_charge %> </td>
            <td> <%= number_to_currency con.billed_amount %> </td>
          </tr>
        <% } %>
        <% user = current_user.corresponding_user %>
        <tr class="total">
          <td></td>
          <td><%= @conversations.size %> Sessions</td>
          <td> <%= seconds_in_string user.total_session_duration %> </td>
          <td> <%= seconds_in_string user.total_paid_duration %> </td>
          <% avg_rate = user.total_spending == 0? 0 : (user.total_spending/(user.total_paid_duration.to_f/60)) %>
          <td><%= number_to_currency avg_rate %>/min </td>
          <td>  </td>
          <td> <%= number_to_currency user.total_spending.to_i %> </td>
        </tr>
      </tbody>
    </table>
  <% end %>
<% end %>

