
<% if @conversation %>
  <h2> Summary of Conversation </h2><br/>
  Conversation with <b> <%= @conversation.lawyer_name %> </b><hr/>
  Duration of session : <%= @conversation.duration %> minutes <br/>
  Billable time : <%= @conversation.billable_time %><br/>
  Lawyer's rate : <%= @conversation.lawyer_rate   %><br/>
  Lawdingo's fee : <%= @conversation.lawdingo_charge %><br/>
  Amount Billed : <%= @conversation.billed_amount %><br/>

  <hr/>
  <%= link_to "Back to home", root_path %> &nbsp;&nbsp;
  <%= link_to "All conversations", user_path(current_user,:t =>'l'), :title =>"List of all your conversations!" %>

<% else %>
  Nothing to show!
<% end %>
