        <div id="page">
            <div>
                <div class="inner session-complete">
                    <div class="column">
                        <h3>Session summary:</h3>
                        <% if @conversation
                          lawyer = @conversation.lawyer
                        %>
                        <ul>
                            <li>Billed time elapsed: <%= @conversation.billable_time %> minute(s)</li>
                            <li>Attorney's rate: <%= number_to_currency @conversation.lawyer_rate %>/minute</li>
                            <li>Lawdingo's rate: <%= number_to_currency AppParameter.service_charge_value %>/minute</li>
                            <li>Amount billed: <%= number_to_currency @conversation.billed_amount %></li>
                        </ul>
                        <% if params[:call_type] && params[:call_type] == 'phonecall' %>
                          <%= link_to "Restart Session", phonecall_path(:id => lawyer.id), :title =>"Restart Session", :class =>'button blue' %>
                        <% elsif lawyer.is_online? && !lawyer.is_busy %>
                            <%= link_to "Restart Session", user_chat_session_path(lawyer), :title =>"Restart Session", :class =>'button blue' %>
                        <% end %>
                        <%= link_to "<< Go home", root_path %>
                        <%= link_to 'View all my previous sessions >>', user_path(current_user,:t =>'l'), :title => 'View all my previous sessions' %>
                    </div>
                  <% if @available_for_review %>
                    <div class="column last-child">
                      <%= render "reviews/form" %>
                      <div class="thank-you" style="display: none;">
                        <h3>Thank you for your review!</h3>
                      </div>
                    </div>
                  <% end %>
                    <% else %>
                      Nothing to show!
                    <% end %>
                    <div class="clear"></div>
                </div>
            </div>
        </div>

