- if defined? homepage_image
  %li
    .image-carousel
      .carousel-image
        %a.profile_link{:href => attorney_path(homepage_image.lawyer, slug: homepage_image.lawyer.slug)}
          = image_tag homepage_image.photo.url(:large), :alt => homepage_image.lawyer.full_name
      .carousel-description
        .general_info
          %h4= link_to "#{homepage_image.lawyer.full_name}", attorney_path(homepage_image.lawyer, slug: homepage_image.lawyer.slug)
          .online_icons
            = render(:partial => "lawyer/online_icons", :locals => {:lawyer => homepage_image.lawyer})
        %p.desc= raw("Advising on #{homepage_image.lawyer.practice_areas_listing} law.")
        #carousel-buttons
          .free_section_container
            = render(:partial => "lawyer/talk_button", :locals => {:lawyer => homepage_image.lawyer})
            .free_button_explanation
              %p.free_bold= "#{homepage_image.lawyer.free_consultation_duration} minutes free"
              = content_tag :p, "then #{number_to_currency (homepage_image.lawyer.rate_for_minutes(6) + AppParameter.service_charge_value)} per 6 mins", class: "small"
    
        - # content for the modal dialog we are going to display
        %div{:style => "display:none;"}
          = render(:partial => "/attorneys/appointment_form", :locals => {:lawyer => homepage_image.lawyer})
          -#.lawyer_rates
            %h5.rate= free_message(homepage_image.lawyer)
            = content_tag :p, "then #{number_to_currency (homepage_image.lawyer.rate_for_minutes(6) + AppParameter.service_charge_value)} per 6 mins", class: "small"
            %p.small
              %span (prorated to the minute)

