- if defined? homepage_image
  %li
    .image-carousel.parent_container
      .carousel-image
        %a.profile_link{:href => lawyer_path(homepage_image.lawyer, slug: homepage_image.lawyer.slug)}
          = image_tag homepage_image.photo.url(:large), :alt => homepage_image.lawyer.full_name
      .carousel-description
        .general_info
          %h4= link_to "#{homepage_image.lawyer.full_name}", lawyer_path(homepage_image.lawyer, slug: homepage_image.lawyer.slug)
          .online_icons
            = render(:partial => "lawyers/online_icons", :locals => {:lawyer => homepage_image.lawyer})
        %p.desc= raw("Advising on #{homepage_image.lawyer.practice_areas_listing} law.")
        #carousel-buttons
          .free_section_container
            = render(:partial => "lawyers/talk_button", :locals => {:lawyer => homepage_image.lawyer})
            .free_button_explanation
              %p.free_bold= free_message homepage_image.lawyer
              = free_message_then homepage_image.lawyer
        - # content for the modal dialog we are going to display
        %div{:style => "display:none;"}
          = render(:partial => "/lawyers/appointment_form", :locals => {:lawyer => homepage_image.lawyer})
          -#.lawyer_rates
            %h5.rate= free_message(homepage_image.lawyer)
            = free_message_then homepage_image.lawyer
            %p.small
              %span (prorated to the minute)

