<div id="tabs_autoselect">
	<div class="autoselect_header">
		<div class="header_text">
			<%= header_text %>
		</div>
		<div class="header_text_bold">
			Talk to a lawyer by
		</div>
		<ul>
			<li  class="selected" data-target="autoselect_tab_question">
				<%= image_tag 'interact_keyboard_icon.png' %>
			</li>
      <li  data-target="autoselect_tab_phone">
      	<%= image_tag 'interact_phone_icon.png' %>
      </li>
      <!--<li data-target="autoselect_tab_video">
      	<%= image_tag 'interact_video_icon.png' %>
      </li> -->
		</ul>
		<div class="header_text_now">
			now.
		</div> 
	</div>
	
	<div class="autoselect_body">
		<div class="autoselect_tab " id="autoselect_tab_question">
			<div id="autoselect_question" class="question question-container">
				<%= render partial: "questions/form", locals: { type: "lawyer", placeholder: @subtext[:second] }	%>
			</div>
		</div>
		<div class="autoselect_tab hidden" id="autoselect_tab_phone">
			<%= render partial: "clients/phone_consultation", locals: { type: "lawyer", placeholder: @subtext[:second] }%>
		</div>
		<!-- <div class="autoselect_tab hidden" id="autoselect_tab_video">
			
		</div> -->
	</div>
</div>
