.profile
  .left_menu.same_height
    - act = action_name.to_sym
    - contr = controller_name.to_sym

    %h2= link_to_unless_current "Profile info", user_path(@user, :t => User::ACCOUNT_TAB)
    %ul
      %li.acc_info
        %span= link_to "Account information", user_path(@user, :t => User::ACCOUNT_TAB), :class => (act == :show && contr == :users) ? 'active' : ''
      %li.price_offers
        %span= link_to "Fixed-price offers", user_offerings_path(@user) 
      %li.availability
        %span= link_to "Set availability", user_daily_hours_path(@user) 
      %li.video
        %span= link_to "Intro video", framey_videos_path
      %li.view_profile
        %span= link_to "View your profile", attorney_path(@user, slug: @user.slug), :target => 'blank'
    %h2= link_to_unless_current "Summary of sessions", user_path(@user, :t => User::SESSION_TAB)          
  .profile_wrapper.same_height
    .profile_availability
      = render partial: '/users/iphone_handle', locals: {:lawyer => @user}
    .profile-block
      = raw flash[:error]
      - errors = @user.errors
      = form_for @user, :url =>@user.new_record? ? users_path : user_path(@user, :t => User::ACCOUNT_TAB), :html=>{:multipart => true} do |f|
        - unless flash[:error]
          - if errors.size > 0
            .error_explanation
              %h4.error Please fix the following errors:
              %ul.errors
                - errors.full_messages.each do |error|
                  %li= error
        %h2 Your Information
        %table
          %tbody
            %tr
              %td.labels Your name:
              %td.name_fields 
                = f.text_field :first_name ,{:placeholder=>"First Name",:class=>"name"}
                = f.text_field :last_name ,{:placeholder=>"Last Name",:class=>"name"}
            %tr
              %td.labels
                %label Email:
              %td
                = f.text_field :email,{:class=>"email", title: "Your email address.", rel: "twipsy"}
            %tr
              %td.labels
                %label Password:
              %td
                = f.password_field :password ,{:class=>"passw"}
        %hr/
        - if current_user.is_admin?
          = select_tag "lawyer[school_id]", options_from_collection_for_select(@schools, "id", "name", @user.school_id), prompt: "Law school"
          %br/
          = f.text_field :undergraduate_school, placeholder: "Undergrad school"
          %br/
          = f.text_field :license_year, placeholder: "Year licensed"
          %br/
          = f.text_field :yelp_business_id, placeholder: "Busuniess ID on Yelp"
          - if @user.is_lawyer?
            %br/
            = f.select :payment_status, options_for_select(Lawyer::PAYMENT_STATUSES), prompt: "Payment status"
        - if @user.is_lawyer?
          = bar_memberships_listing @user
          .clear
          = practice_areas_listing @user
          .clear
          %hr/
          %table
            %tbody
              %tr
                %td.labels
                  %label Free consultation offered:
                %td
                  = f.select(:free_consultation_duration, [ |
                      ["Free consultation duration", ""],   |
                      ["2 minutes", "2"],                   |
                      ["5 minutes", "5"],                   |
                      ["10 minutes", "10"],                 |
                      ["15 minutes", "15"],                 |
                      ["20 minutes", "20"],                 |
                      ["30 minutes", "30"],                 |
                      ["45 minutes", "45"],                 |
                      ["60 minutes", "60"],                 |
                      ["90 minutes", "90"]                  |
                    ])                                      |
                  %span.rate_hint free consultation offered
              - @user.hourly_rate = nil if @user.new_record?
              - @user.hourly_rate = number_with_precision @user.hourly_rate, :precision => 2
              %tr
                %td.labels
                  %label Hourly rate:
                %td
                  = f.text_field :hourly_rate ,{:class=>"paypal"}
                  %span.rate_hint hourly rate
              %tr
                %td.labels 
                  %label Direct phone number:
                %td
                  = f.text_field :phone ,{}
  
              %tr
                %td.labels
                  %label Time zone:
                %td
                  = f.collection_select :time_zone, ActiveSupport::TimeZone.us_zones, :name, :to_s, :default => "Pacific Time (US & Canada)"
                  = hidden_field_tag :user_type, @user[:user_type]    
              %tr
                %td.labels 
                  %label Professional summary:
                %td
                  = f.text_area :personal_tagline ,{:class=>"summary",:maxlength => 2000, :rows=>2}
              %tr
                %td.labels
                  %label Profile photo:
                %td
                  .file_select_wrapper
                    .file_select_button.blue_button.gray.no-inner-shadow
                      %ins Add your photo
                      = f.file_field :photo, :accept => 'image/png,image/gif,image/jpeg'
                    %span.file_select_value
          .clear
          / div class="f_label"></div><span style="font-size:12px;">to receive payments from Lawdingo</span><br/
          - i = 0
          #dialog-overlay
          #bar_membership.dialog-window
            %h3 Select your bar membership(s)
            %div
              %ul#leveled_list_bar_ids.leveled-list
                - j = 0
                = f.fields_for :bar_memberships do |bar_membership_fields|
                  = '' #nonsense line made by AF. Please keep it. For some reason without it, the next line, specially bar_membership_fields.object renders a lot of garbage, which in my opinion is a bug in Rails.  
                  - if bar_membership_fields.object.new_record? 
                    %li{:id => i + j}
                      = bar_membership_fields.hidden_field :state_id
                      = check_box_tag("states_#{i+j}", @states[i].id, false, :id => "state_#{i+j}", :onchange =>"javascript:select_unselect_state('#{i+j}');")
                      %span 
                        = @states[i].name
                      .sub{:id => @states[i].name}
                        = "#{@states[i].abbreviation} Bar ID:"
                        = bar_membership_fields.text_field :bar_id
                    - i += 1
                  - else
                    - if !bar_membership_fields.object.state.nil?
                      %li{:id => (i + j).to_s }
                        = check_box_tag("states_#{i + j}", @filled_states[j].id, true, :id => "state_#{i+j}", :onchange =>"javascript:select_unselect_state('#{i+j}');")
                        %span
                          = @filled_states[j].name
                        .sub.filled{:id => @filled_states[j].name}
                          = "#{@filled_states[j].abbreviation} Bar ID:"
                          = bar_membership_fields.text_field :bar_id
                      - j += 1

            %a.button.blue{:onclick => "setBarIds();", :style => 'float: left;'} Done
          #practices.dialog-window
            %h3 Edit Practice Area(s)
            %div
              %ul#leveled-list_practice_areas.leveled-list
                - l_pas = @user.practice_areas
                - PracticeArea.parent_practice_areas.each do |p|
                  %li
                    - if l_pas.include?(p)
                      %input.parent-area{:checked => "", "data-id" => p.id, "data-name" => p.name, :id => p.name, :name => "practice_areas[]", :type => "checkbox", :value => p.id}/
                      = p.name
                    - else
                      %input.parent-area{"data-id" => p.id, "data-name" => p.name, :id => p.name, :name => "practice_areas[]", :type => "checkbox", :value => p.id}/
                      = p.name
                    .sub
                      = p.name
                      specialities:
                      %ul
                        - p.specialities.each do |s|
                          - if l_pas.include?(s)
                            %li
                              %input{:checked => "", "data-name" => "#{raw(s.name)}", "data-parent-id" => p.id, :id => s.name, :name => "practice_areas[]", :type => "checkbox", :value => s.id}/
                              = s.name
                          - else
                            %li
                              %input{"data-name" => s.name, "data-parent-id" => p.id, :id => s.name, :name => "practice_areas[]", :type => "checkbox", :value => s.id}/
                              = s.name
            %a.button.blue{:onclick => "setPracticeAreas();", :style => 'float:left;'} Done
            .dialog-close
        = f.submit @user.is_lawyer? ? (@user.new_record? ? 'Apply as Lawyer' : 'Update Account') : (@user.new_record? ? 'Join Lawdingo' : 'Update Account')  ,:class=>"button"
