<div style="width:960px; height:410px; position: relative; margin: 0 auto;">
<object classid='clsid:D27CDB6E-AE6D-11cf-96B8-444553540000' height='410' width='960'>
	            <param name='src' value="/swf/videochat.swf"/>
	            <param name='FlashVars' value="user_id=<%= current_user.id %>&user=<%= current_user.full_name %>&uemail=<%= current_user.email %>&lawyer_id=<%= @lawyer.id %>&lawyer=<%= @lawyer.full_name %>&lemail=<%= @lawyer.email %>&hosturl=<%= request.env['HTTP_HOST'] %>&imgsrc=/images/phone.jpg&lrate=<%= @lawyer.rate %>&crate=<%= AppParameter.service_charge_value %>"/>
	            <param name="allowScriptAccess" value="always" />
	            <param name="wmode" value="transparent" />
	            <embed name='mySwf' src='/swf/videochat.swf' allowScriptAccess='always' wmode='transparent' height='410' width='960' FlashVars="user_id=<%= current_user.id %>&user=<%= current_user.full_name %>&uemail=<%= current_user.email %>&lawyer_id=<%= @lawyer.id %>&lawyer=<%= @lawyer.full_name %>&lemail=<%= @lawyer.email %>&hosturl=<%= request.env['HTTP_HOST'] %>&imgsrc=/images/phone.jpg&lrate=<%= @lawyer.rate %>&crate=<%= AppParameter.service_charge_value %>"/>
	          </object>

</div>

