
<% errors = @user.errors %>
<%= form_for @user, :url =>@user.new_record? ? users_path : user_path(@user), :html=>{:multipart => true} do |f| %>
  <% if errors.size > 0 %>


    <div class="error_explanation">
      <h4 class="error">Please fix the following errors:</h4>
       <ul class="errors">
        <% errors.full_messages.each{|error| %>
          <li><%= error %></li>
        <% } %>
      </ul>
    </div>
  <% end %>

  <%= hidden_field_tag :user_type, @user[:user_type] %>

  <%= f.text_field :first_name ,{:placeholder=>"First Name",:class=>"name"} %>

  <%= f.text_field :last_name ,{:placeholder=>"Last Name",:class=>"name"} %>

  <%= f.text_field :email,{:placeholder=>"Email Address",:class=>"email"} %><br/>

  <%= f.password_field :password ,{:placeholder=>"Password",:class=>"passw"} %><br/>

<%# if !@user.is_lawyer? %>
                    <!--select>
                        <option>Select state</option>
                        <option>Alabama</option>
                        <option>Arkansas</option>
                    </select-->
<%# end %>

  <% if @user.is_lawyer?  %>

    <%= f.text_field :practice_areas,{:placeholder=>"Practice areas" ,:rows=>4} %>

    <%= f.text_field :bar_memberships,{:placeholder=>"Bar membership(s)",:rows=>4} %>

    <%= f.text_field :bar_ids,{:placeholder=>"Bar ID(s)"} %>

    <% @user.rate = nil if @user.new_record? %>

    <%= f.text_field :rate ,{:class=>"paypal", :placeholder => "Per minute rate"} %><br/>

    <%= f.text_field :payment_email ,{:placeholder=>"Paypal email (for payments)",:class=>"paypal"} %><br/>

    <%= f.text_area :personal_tagline ,{:placeholder=>"Professional summary (100 chars)", :class=>"summary",:maxlength => 100, :rows=>2} %>
    <div style="font-size:14px;">Upload a photo</div>
    <%= f.file_field :photo %>
    <!--div class="f_label"></div><span style="font-size:12px;">to receive payments from Lawdingo</span><br/-->
  <% end %>
    <%= f.submit @user.is_lawyer? ? (@user.new_record? ? 'Apply as Lawyer' : 'Update Account') : (@user.new_record? ? 'Join Lawdingo' : 'Update Account')  ,:class=>"button" %>
<% end %>

