<div class="form-inner">
<%=raw flash[:error] %>

<% errors = @user.errors %>
<%= form_for @user, :validate => true, :url =>@user.new_record? ? users_path : user_path(@user), :html=>{:multipart => true} do |f| %>
<% unless flash[:error] %>
  <% if errors.size > 0 %>
    <div class="error_explanation">
      <h4 class="error">Please fix the following errors:</h4>
      <ul class="errors">
        <% errors.full_messages.each do |error| %>
          <li><%= error %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<% end %>

  <%= hidden_field_tag :user_type, @user[:user_type] %>
  <ul class="name_fields">
    <li><%= f.text_field :first_name ,{:placeholder=>"First Name",:class=>"name"} %></li>
    <li class="last-child"><%= f.text_field :last_name ,{:placeholder=>"Last Name",:class=>"name"} %></li>
  </ul>
  <%= f.text_field :email, :placeholder=>"Email Address", :class=>"email", title: "Your email address.", rel: "twipsy" %><br/>
  <%= f.password_field :password, :placeholder=>"Password", :class=>"passw", title: "A password.", rel: "twipsy" %><br/>

  <% unless @user.is_lawyer? %>
  <%= f.text_field :phone, placeholder: "Phone number (optional)", :class => :phone, title: "Phone number (optional).", rel: "twipsy" %><br/>
  <% end %>

  <% if @user.is_lawyer? %>
    <div style="display: block; margin-bottom: 1.5em;">
      <div id="div_states_barids"></div>
      <a href="#bar_membership" id="barids_editor" class="dialog-opener">(edit)</a>
      <a href="#bar_membership" id="barids_opener" class="dialog-opener blue_button gray no-inner-shadow" style="width: 13em; text-align: center;">State Bar Membership(s)</a>
    </div>
    <div style="display: block; margin-bottom: 1.5em;">
      <div id="div_practice_areas"></div>
      <a href="#practices" id="practice_areas_editor" class="dialog-opener">(edit)</a>
      <a href="#practices" id="practice_areas_opener" class="dialog-opener blue_button gray no-inner-shadow" style="width: 11.3em; text-align: center;">Your Practice Areas</a>
    </div>
    <%#= f.text_field :bar_ids,{:placeholder=>"Bar ID(s)"} %>
    <div class="user_free_consultation_duration">
      <%= f.select(:free_consultation_duration, [
        ["2 minutes", "2"],
        ["5 minutes", "5"],
        ["10 minutes", "10"],
        ["15 minutes", "15"],
        ["20 minutes", "20"],
        ["30 minutes", "30"],
        ["45 minutes", "45"],
        ["60 minutes", "60"],
        ["90 minutes", "90"],
      ], selected: 20)%>
      <span class="duration_hint">free consultation offered</span>
    </div>
    <% @user.rate = nil if @user.new_record? %>
    <div class="user_rate">
      <span class="rate_hint">Will be quoted by the min.</span>
      <%= f.text_field :rate, :class=>"paypal", :placeholder => "Hourly rate", title: "Your hourly rate is quoted to clients as a per-minute rate.", rel: "twipsy" %><br/>
      <%# <%= f.text_field :payment_email ,{:placeholder=>"Paypal email (for payments)",:class=>"paypal"} %1><br/> %>
    </div>
    <%= f.text_field :phone, :placeholder => "Your direct phone number", title: "To receive clients by phone, enter your direct phone line here.", rel: "twipsy" %>
    <%= f.text_area :personal_tagline, :placeholder=>"Professional summary (2000 chars)", :class=>"summary", :maxlength => 2000, :rows => 2, title: "A brief description of your personal credentials and focal practice areas.", rel: "twipsy" %>
    <div class="file_select_wrapper">
      <div class="file_select_button blue_button gray no-inner-shadow">
        <ins>Upload a photo</ins>
        <%= f.file_field :photo, :accept => 'image/png,image/gif,image/jpeg' %>
      </div>
      <span class="file_select_value"></span>
    </div>
    <!--div class="f_label"></div><span style="font-size:12px;">to receive payments from Lawdingo</span><br/-->
 <% i = 0 %>
 <%# <div id="dialog-overlay"></div> %>
 <div id="bar_membership" class="dialog-window">
   <h3>In which state are you licensed to practice law?</h3>
   <div>
     <ul id="leveled_list_bar_ids" class="leveled-list">
       <%= f.fields_for :bar_memberships do |bar_membership_fields| %>
         <% if bar_membership_fields.object.new_record? %>
           <li id="<%= i %>">
             <%= check_box_tag("states_#{i}", @states[i].id, false, :id => "state_#{i}", :onchange =>"javascript:select_unselect_state('#{i}');")%><%= label_tag "state_#{i}", @states[i].name %>
             <%= bar_membership_fields.hidden_field :state_id %>
             <div class="sub" id="<%= @states[i].name %>"><%= "#{@states[i].abbreviation} Bar ID:" %>
               <%= bar_membership_fields.text_field :bar_id %>
             </div>
           </li>
           <% i += 1 %>
         <% end %>
       <% end %>
       <% j = 0 %>
       <%= f.fields_for :bar_memberships do |bar_membership_fields| %>
         <% unless bar_membership_fields.object.new_record? %>
         <li id="<%= i + j %>">
           <%= check_box_tag("states_#{i + j}", @filled_states[j].id, true, :id => "state_#{i+j}", :onchange =>"javascript:select_unselect_state('#{i+j}');")%><%= label_tag "state_#{i+j}", @filled_states[j].name %>
           <%= bar_membership_fields.hidden_field :state_id %>
           <div class="sub" id="<%= @filled_states[j].name %>"><%= "#{@filled_states[j].abbreviation} Bar ID:" %>
             <%= bar_membership_fields.text_field :bar_id %>
           </div>
         </li>
         <% j += 1 %>
         <% end %>
       <% end %>
     </ul>
   </div>
   <a class="button blue" style="width: 100px; text-align: center;" onclick="setBarIds();">Done</a>
 </div>
 <div id="practices" class="dialog-window">
    <h3>What are your practice areas? Click any to expand.</h3>
    <div>
      <ul id="leveled-list_practice_areas" class="leveled-list">
          <% PracticeArea.parent_practice_areas.order(:name).each do |p| %>
          <li>
              <%#= check_box_tag "practice_areas[]", "#{p.id}" %> <%#= p.name %>
              <input type="checkbox" data-name="<%= p.name %>" class="parent-area" data-id="<%= p.id %>" id="practice_area_<%= p.id %>" name="practice_areas[]" value="<%= p.id %>"/><%= label_tag "practice_area_#{p.id}", p.name %>
              <div class="sub" data-parent-id="<%= p.id %>">
                  <%= p.name %> specialities:
                  <ul>
                    <% p.specialities.order(:name).each do |s| %>
                      <!--li><%= check_box_tag "practice_areas[]", "#{s.id}" %> <%= s.name %> </li-->
                      <li><input type="checkbox" data-name="<%= s.name %>" id="practice_area_<%= s.id %>" name="practice_areas[]" value="<%= s.id %>"/><%= label_tag "practice_area_#{s.id}", s.name %></li>
                    <% end %>
                  </ul>
              </div>
          </li>
          <% end %>
      </ul>
    </div>
    <a class="button blue" style="width: 100px; text-align: center;" onclick="setPracticeAreas();">Done</a>
</div>
<% end %>
</div>
<div class="actions">
  <div class="form-inner" style="padding-left: 37px;">
    <%= f.submit @user.is_lawyer? ? (@user.new_record? ? 'Apply as a Lawyer' : 'Update Account') : (@user.new_record? ? 'Join Lawdingo' : 'Update Account'), :class=>"button", id: "submit_signup" %>
    <div class="form-notice">
      <% if params[:ut].present? %>
        <span class="fine-print">By clicking "Join Lawdingo" you confirm that you accept the <a href="/terms" target="_blank">Terms of Service</a></span>
      <% else %>
        <span class="fine-print">By clicking "Apply as Lawyer" you confirm that you accept the <a href="/terms" target="_blank">Terms of Service</a></span>
      <% end %>
    </div>
  </div>
</div>
<% end %>
<script type="text/javascript">
  $(document).ready(function(){
    $('#barids_editor').hide();
    $('#div_states_barids').hide();
    $('#practice_areas_editor').hide();
    $('#div_practice_areas').hide();
  });
</script>
