<%=raw flash[:error] %>

<% errors = @user.errors %>
<%= form_for @user, :url =>@user.new_record? ? users_path : user_path(@user), :html=>{:multipart => true} do |f| %>
<% unless flash[:error] %>
  <% if errors.size > 0 %>
    <div class="error_explanation">
      <h4 class="error">Please fix the following errors:</h4>
      <ul class="errors">
        <% errors.full_messages.each do |error| %>
          <li><%= error %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<% end %>

  <%= hidden_field_tag :user_type, @user[:user_type] %>
  <ul class="name_fields">
    <li><%= f.text_field :first_name ,{:placeholder=>"First Name",:class=>"name"} %></li>
    <li class="last-child"><%= f.text_field :last_name ,{:placeholder=>"Last Name",:class=>"name"} %></li>
  </ul>
  <%= f.text_field :email,{:placeholder=>"Email Address",:class=>"email"} %><br/>
  <%= f.password_field :password ,{:placeholder=>"Password",:class=>"passw"} %><br/>

  <% if @user.is_lawyer? %>
    <div id="div_states_barids"></div>
    <a href="#bar_membership" id="barids_editor" class="dialog-opener">(edit)</a>
    <a href="#bar_membership" id="barids_opener" class="dialog-opener button gray" style="width: 160px;">Select bar membership(s)</a>
    <div id="div_practice_areas"></div>
    <a href="#practices" id="practice_areas_editor" class="dialog-opener">(edit)</a>
    <a href="#practices" id="practice_areas_opener" class="dialog-opener button gray" style="width: 130px;">Select practice areas</a>
    <%#= f.text_field :bar_ids,{:placeholder=>"Bar ID(s)"} %>
    <% @user.rate = nil if @user.new_record? %>
    <%= f.text_field :rate ,{:class=>"paypal", :placeholder => "Per minute rate"} %><br/>
    <%= f.text_field :payment_email ,{:placeholder=>"Paypal email (for payments)",:class=>"paypal"} %><br/>
    <%= f.text_area :personal_tagline ,{:placeholder=>"Professional summary (100 chars)", :class=>"summary",:maxlength => 100, :rows=>2} %>
    <div class="file_field_wrapper button gray">
      <ins>Upload a photo</ins>
      <%= f.file_field :photo, :accept => 'image/png,image/gif,image/jpeg' %>
    </div>
    <!--div class="f_label"></div><span style="font-size:12px;">to receive payments from Lawdingo</span><br/-->
 <% i = 0 %>
 <%# <div id="dialog-overlay"></div> %>
 <div id="bar_membership" class="dialog-window">
   <h3>Select your bar membership(s)</h3>
   <div>
     <ul id="leveled_list_bar_ids" class="leveled-list">
       <%= f.fields_for :bar_memberships do |bar_membership_fields| %>
         <% if bar_membership_fields.object.new_record? %>
           <li id="<%= i %>">
             <%= check_box_tag("states_#{i}", @states[i].id, false, :id => "state_#{i}", :onchange =>"javascript:select_unselect_state('#{i}');")%><%=@states[i].name%>
             <%= bar_membership_fields.hidden_field :state_id %>
             <div class="sub" id="<%= @states[i].name %>"><%= "#{@states[i].abbreviation} Bar ID:" %>
               <%= bar_membership_fields.text_field :bar_id %>
             </div>
           </li>
           <% i += 1 %>
         <% end %>
       <% end %>
       <% j = 0 %>
       <%= f.fields_for :bar_memberships do |bar_membership_fields| %>
         <% unless bar_membership_fields.object.new_record? %>
         <li id="<%= i + j %>">
           <%= check_box_tag("states_#{i + j}", @filled_states[j].id, true, :id => "state_#{i+j}", :onchange =>"javascript:select_unselect_state('#{i+j}');")%><%=@filled_states[j].name%>
           <%= bar_membership_fields.hidden_field :state_id %>
           <div class="sub" id="<%= @filled_states[j].name %>"><%= "#{@filled_states[j].abbreviation} Bar ID:" %>
             <%= bar_membership_fields.text_field :bar_id %>
           </div>
         </li>
         <% j += 1 %>
         <% end %>
       <% end %>
     </ul>
   </div>
   <a class="button blue" style="width: 100px; text-align: center;" onclick="setBarIds();">Done</a>
 </div>
 <div id="practices" class="dialog-window">
    <h3>Select Practice Area(s)</h3>
    <div>
      <ul id="leveled-list_practice_areas" class="leveled-list">
          <% PracticeArea.parent_practice_areas.each do |p| %>
          <li>
              <%#= check_box_tag "practice_areas[]", "#{p.id}" %> <%#= p.name %>
              <input type="checkbox" id="<%= p.name %>" name="practice_areas[]" value="<%= p.id %>"/><%= p.name %>
              <div class="sub">
                  <%= p.name %> specialities:
                  <ul>
                    <% p.specialities.each do |s| %>
                      <!--li><%= check_box_tag "practice_areas[]", "#{s.id}" %> <%= s.name %> </li-->
                      <li><input type="checkbox" id="<%= s.name %>" name="practice_areas[]" value="<%= s.id %>"/><%= s.name %></li>
                    <% end %>
                  </ul>
              </div>
          </li>
          <% end %>
      </ul>
    </div>
    <a class="button blue" style="width: 100px; text-align: center;" onclick="setPracticeAreas();">Done</a>
</div>
<% end %>

  <%= f.submit @user.is_lawyer? ? (@user.new_record? ? 'Apply as Lawyer' : 'Update Account') : (@user.new_record? ? 'Join Lawdingo' : 'Update Account')  ,:class=>"button" %>
<% end %>
<script type="text/javascript">
  $(document).ready(function(){
    $('#barids_editor').hide();
    $('#div_states_barids').hide();
    $('#practice_areas_editor').hide();
    $('#div_practice_areas').hide();
  });
</script>

