<%=raw flash[:error] %>

<% errors = @user.errors %>
<%= form_for @user, :url =>@user.new_record? ? users_path : user_path(@user), :html=>{:multipart => true} do |f| %>
<% unless flash[:error] %>
  <% if errors.size > 0 %>
    <div class="error_explanation">
      <h4 class="error">Please fix the following errors:</h4>
      <ul class="errors">
        <% errors.full_messages.each do |error| %>
          <li><%= error %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<% end %>

  <%= hidden_field_tag :user_type, @user[:user_type] %>
  <%= f.text_field :first_name ,{:placeholder=>"First Name",:class=>"name"} %>
  <%= f.text_field :last_name ,{:placeholder=>"Last Name",:class=>"name"} %>
  <%= f.text_field :email,{:placeholder=>"Email Address",:class=>"email"} %><br/>
  <%= f.password_field :password ,{:placeholder=>"Password",:class=>"passw"} %><br/>

  <% if @user.is_lawyer? %>
    <%#= f.text_field :practice_areas,{:placeholder=>"Practice areas" ,:rows=>4} %>
    <%#= f.text_field :bar_memberships,{:placeholder=>"Bar membership(s)",:rows=>4} %>
    <div id="div_states_barids"></div>
    <a href="#bar_membership" id="barids_editor" class="dialog-opener">(edit)</a>
    <a href="#bar_membership" id="barids_opener" class="dialog-opener">Select bar membership(s)</a>
    <%#= f.text_field :bar_ids, :style =>"display:none;" %>
    <a href="#practices" class="dialog-opener">Select practice areas</a>
    <%#= f.text_field :bar_ids,{:placeholder=>"Bar ID(s)"} %>
    <% @user.rate = nil if @user.new_record? %>
    <%= f.text_field :rate ,{:class=>"paypal", :placeholder => "Per minute rate"} %><br/>
    <%= f.text_field :payment_email ,{:placeholder=>"Paypal email (for payments)",:class=>"paypal"} %><br/>
    <%= f.text_area :personal_tagline ,{:placeholder=>"Professional summary (100 chars)", :class=>"summary",:maxlength => 100, :rows=>2} %>
    <div style="font-size:14px;">Upload a photo</div>
    <%= f.file_field :photo %>
    <!--div class="f_label"></div><span style="font-size:12px;">to receive payments from Lawdingo</span><br/-->
  <% end %>

 <% i = 0 %>
 <div id="dialog-overlay"></div>
 <div id="bar_membership" class="dialog-window">
  <% if @user.is_lawyer? %>
   <h3>Select your bar membership(s)</h3>
   <div>
     <ul id="leveled_list_bar_ids" class="leveled-list">
       <%= f.fields_for :bar_memberships do |bar_membership_fields| %>
         <li id="<%= i %>">
           <%= check_box_tag("states_#{i}", @states[i].id, false, :id => "state_#{i}", :onchange =>"javascript:select_unselect_state('#{i}');")%><%=@states[i].name%>
           <%= bar_membership_fields.hidden_field :state_id %>
           <div class="sub" id="<%= @states[i].abbreviation %>"><%= "#{@states[i].abbreviation} Bar ID:" %>
             <%= bar_membership_fields.text_field :bar_id %>
           </div>
         </li>
         <% i += 1 %>
       <% end %>
     </ul>
   </div>
   <% end %>
   <a class="button blue" onclick="setBarIds();">Done</a>
 </div>
 <div id="practices" class="dialog-window">
    <h3>Select Practice Area(s)</h3>
    <div>
      <ul class="leveled-list">
          <li>
              <input type="checkbox"> Bankruptcy
              <div class="sub">
                  Bankruptcy specialities:
                  <ul>
                      <li><input type="checkbox"> Felonies</li>
                      <li><input type="checkbox"> Misdimeanors</li>
                      <li><input type="checkbox"> White collar crime</li>
                  </ul>
              </div>
          </li>
      </ul>
    </div>
    <a class="button blue" onclick="close_dialogs();">Done</a>
</div>


  <%= f.submit @user.is_lawyer? ? (@user.new_record? ? 'Apply as Lawyer' : 'Update Account') : (@user.new_record? ? 'Join Lawdingo' : 'Update Account')  ,:class=>"button" %>
<% end %>
<script type="text/javascript">
  $(document).ready(function(){
    $('#barids_editor').hide();
    $('div_states_barids').hide();
  });
</script>

