<% 
  options_states_arr = []
  options_states_arr << ['Any State', 0]
  State.all.each { |state|
    if state.lawyers.approved_lawyers.count > 0
      options_states_arr << [state.name, state.id]
    end
  }

  options_pa_arr = []
  options_pa_arr << ['All types', 0]
  PracticeArea.parent_practice_areas.each { |pa|
    options_pa_arr << [pa.name, pa.id]
  }
%>
  <div id="page">
          <div>
                <!-- FILTERS -->
                <div id="filters">

                    <span style="color:black; margin-right: 1em; font-weight:bold;">Find the right lawyer.</span>  State:
                    <span>
                    <%= select_tag('select_state', options_for_select(options_states_arr, @selected_state_str)) %>
                    </span>
                    Type of law:
                    <span>
                    <%= select_tag('select_pa', options_for_select(options_pa_arr, @selected_pa_str)) %>
                    </span>
                    <span style="padding-left:5px;" id='specialities_container'>
                      Specific need: 
                      <% if @selected_pa_str.present? %>
                        <%= select_tag('select_sp', options_for_select(@selected_pa_specialities_str, @selected_sp_str)) %>
                      <% else %>
                        <%= select_tag('select_sp', options_for_select([["none", 0], @selected_sp_str])) %>
                      <% end %>
                    </span>

                </div>
                <!-- END FILTERS -->

                <!-- RESULTS -->
                <div id="results">
                      <% @lawyers.each{|lawyer| %>
                    <%= render :partial =>'/lawyer/lawyer', :locals=>{:lawyer =>lawyer} %>
                  <% } %>


                </div>
      </div>

</div>
<div id="schedule_session" class="dialog-window">
            <h3 id='overlay_user_name'></h3>
            <span class="lawyer_name">Lawyer</span> is currently away or in a Lawdingo video consultation. Please send the lawyer a message with some times that would work for you to connect on Lawdingo.
            <textarea id='txt_msg' name ='txt_msg'></textarea>
            <span class="fine-print">Please do not include any private or confidential information here.</span>
            <hr>
            <a href="javascript:void(0)" class="button blue" onclick="sendMessage();return false;">Send Message</a>
</div>

<script type="text/javascript">
function sendMessage(){
  close_dialogs();
  var msg = $('textarea#txt_msg').val();
  var l1 = $("#current_lid").val();
  if(msg != "")
  {
    $.ajax({
        url: "/ScheduleSession",
        type:'post',
        data:{email_msg: msg,l2: l1},
        success: function(response){
              if(response == '1')
                alert('Your message has been sent.');
              else{
                alert('Problem sending message. You may not be logged in');
              }
            }
    });
  }else
  {
    alert('You can not send the blank message');
  }
}


$(document).ready(function() {
    // Do not hide specialities selector if one is selected 
    // and filter results 
    <% unless @selected_sp_str.present? %>
      $('#specialities_container').hide();
    <% else %>
      filterResults();
    <% end %>

    $('#select_pa').change(function() {
      if($("#select_pa").val() != 0){
        $.ajax({url: '/search/populate_specialities',
          data: 'pid=' + $("#select_pa").val(),
          success: function(data)
          {
            $("#specialities_container").html(data);
            $('#specialities_container').show();
            filterResults();
          }});
        }
        else
        {
          $('#specialities_container').hide();
          filterResults();
        }

    });
  });

  var filterResults = function(){
    $.ajax({
      url: 'search/filter_results',
      data: {state:$("#select_state").val(),pa:$("#select_pa").val(), sp:$("#select_sp").val()},
      success: function(data){
        $('#results').html(data);
      }
    });
  }

  $("#select_state").change(function(){
    filterResults();
  });

</script>

