<% 
  options_states_arr = []
  options_states_arr << ['Any State', 0]
  State.all.each { |state|
    if state.lawyers.approved_lawyers.count > 0
      options_states_arr << [state.name, state.id]
    end
  }
%>

<div class="page" id="page">
  <div class="inline-wrapper clearfix">
    <div class="filters">
      <div class="input">
        <label for="select_state" style="color: #ff9933; font-weight: bold;">Your state:</label>
        <%= select_tag('select_state', options_for_select(options_states_arr, @selected_state_str)) %>
      </div>
      
      <div class="filters-section" id="types_filter">
        <input type="text" name="select_type" id="select_type" value="lawyer" style="display: none;" />
        <h3>Looking for:</h3>
        <ul>
          <li class="selected" data-type="lawyer">
            <%= radio_button_tag "lawyer", "0", class: "selected" %>
            <label for="lawyer_0">Legal advice</label>
          </li>
          <li data-type="offering">
            <%= radio_button_tag "offering", "0" %>
            <label for="offering_0">Fixed-price legal service</label>
          </li>
        </ul>
      </div>

      <div class="filters-section" id="areas_filter">
        <input type="text" name="select_pa" id="select_pa" value="0" style="display: none;" />
        <h3>Legal domain:<h3>
        <ul class="areas">
          <li class="practice_area selected" data-id="0">
            <%= radio_button_tag "all-types", "0", class: "selected" %>
            <label for="all-types_0">All types</label>
          </li>
        <% PracticeArea.parent_practice_areas.order(:name).each do |area| %>
          <%= content_tag_for :li, area, data: { id: area.id } do %>
            <%= radio_button_tag "area-#{area.id}", "#{area.id}", false, id: "area_#{area.id.to_i}" %> 
            <%= label_tag "area_#{area.id}", "#{area.name}" %>
          <% end %>
        <% end %>
        </ul>
      </div>

      <div class="filters-section" style="display: none;" id="specialities_filter">
        <input type="text" name="select_sp" id="select_sp" value="0" style="display: none;" />
        <h3>Specific need:</h3>
        <ul class="specialities"></ul>
      </div>
    </div>

    <!-- RESULTS -->
    <div class="results" id="results">
      <div class="selected-lawyers-caption">
        <%= selected_lawyers_caption %>  
      </div>

      <% @lawyers.each{|lawyer| %>
        <%= render :partial =>'/lawyer/lawyer', :locals=>{:lawyer =>lawyer} %>
      <% } %>
    </div>
  </div>
</div>

<div id="schedule_session" class="dialog-window">
            <h3 id='overlay_user_name'></h3>
            <span class="lawyer_name">Lawyer</span> is currently away or in a Lawdingo video consultation. Please send the lawyer a message with some times that would work for you to connect on Lawdingo.
            <textarea id='txt_msg' name ='txt_msg'></textarea>
            <span class="fine-print">Please do not include any private or confidential information here.</span>
            <hr>
            <a href="javascript:void(0)" class="button blue" onclick="sendMessage();return false;">Send Message</a>
</div>

<script type="text/javascript">
function sendMessage(){
  close_dialogs();
  var msg = $('textarea#txt_msg').val();
  var l1 = $("#current_lid").val();
  if(msg != "")
  {
    $.ajax({
        url: "/ScheduleSession",
        type:'post',
        data:{email_msg: msg,l2: l1},
        success: function(response){
              if(response == '1')
                alert('Your message has been sent.');
              else{
                alert('Problem sending message. You may not be logged in');
              }
            }
    });
  }else
  {
    alert('You can not send the blank message');
  }
}
</script>
