<%
  default_image = HomepageImage.first
  lawyer = default_image.lawyer
  practice_area_text=""
  practice_area_text = "Advising on #{lawyer.practice_areas_listing} law. "
  description = practice_area_text + "#{lawyer.free_consultation_duration} minutes free consultation, then #{number_to_currency lawyer.rate}/minute."
%>

<div id="page" class="home">
  <div>
    <!-- Image carousel block with a link to json file consisting of data about previewed lawyers -->
    <div class="image-carousel" dataurl="/search/carsousel_images">
      <div class="carousel-image">
        <%= image_tag default_image.photo.url(:large), :alt => "" %>
      </div>
      <div class="carousel-description">
        <h4><%= "Attorney #{lawyer.full_name}" %></h4>
        <span><%= description %></span>
      </div>
    </div>
    <!-- Filtering form -->
    <div id="splash">
      <h1>Legal advice by phone or video.</h1>
      <p>Free consultations. Then pay by the minute.</p>
      <h2>Skip the law office. Ditch the retainers.</h2>
      <%= link_to "Find Lawyers", lawyers_path, class: "button green" %>
      <small>Lawyer? <%= link_to "Apply here!", new_user_path(ut: 1) %></small>
    </div>
    <div class="clear"></div>
  </div>
</div>
