<%
  index = [*0..HomepageImage.count-1].sample
  hms = HomepageImage.all
  default_image = hms[index]
  lawyer = default_image.lawyer
  practice_area_text=""
  practice_area_text = "Advising on #{lawyer.practice_areas_listing} law. "
  description = practice_area_text + "#{lawyer.free_consultation_duration} minutes free consultation, then #{number_to_currency (lawyer.rate + AppParameter.service_charge_value)}/minute."
  title @title
%>

<div id="page" class="home">
  <div>
    <!-- Image carousel block with a link to json file consisting of data about previewed lawyers -->
    <div class="image-carousel" dataurl="/search/carsousel_images">
      <div class="carousel-image">
        <%= image_tag default_image.photo.url(:large), :alt => "" %>
      </div>
      <div class="carousel-description">
        <h4><%= "Attorney #{lawyer.full_name}" %></h4>
        <span><%= description %></span>
      </div>
    </div>
    <!-- Filtering form -->
    <div id="splash">
      <h1><%= @title %></h1>
      <p>Skip the stodgy law office and shady online forums.</p>
      <p>Work with a real lawyer in real time.</p>
      <%= link_to "Browse Lawyers", lawyers_path, class: "button green" %>
      <small>Lawyer? <%= link_to "Apply here!", new_lawyer_path %></small>
    </div>
    <div class="clear"></div>
  </div>
</div>

