- index = [*0..HomepageImage.count-1].sample
- hms = HomepageImage.all
- default_image = hms[index]
- lawyer = default_image.lawyer
- practice_area_text=""
- practice_area_text = "Advising on #{lawyer.practice_areas_listing} law. "
- description = practice_area_text + "#{lawyer.free_consultation_duration} minutes free consultation, then #{number_to_currency (lawyer.rate + AppParameter.service_charge_value)}/minute."
- #title @tagline
- if params[:reset_email_notice].present?
  %p.notice
    Thanks - please check your email for instructions on resetting your password.
    %a#close_notice{:href => "#"} Close
    / Image carousel block with a link to json file consisting of data about previewed lawyers
    -#.image-carousel{:dataurl => "/search/carsousel_images"}
      .carousel-image
        = image_tag default_image.photo.url(:large), :alt => ""
      .carousel-description
        %h4= link_to "Attorney #{lawyer.full_name}", attorney_path(lawyer, slug: lawyer.slug)
        %span= description
    / Filtering form
#top_content
  #center_area
    .white_glow
      .start_off_info
        %a{:href => "/lawyers"}
          = image_tag('start_off_info.png', :alt => '')
        %h1= @tagline
        %p= @subtext[:first]
        / %p= @subtext[:second]
        = link_to "", lawyers_path, class: "browse_lawyers_button"
        -#%small
          Lawyer? #{link_to "Apply here!", new_lawyer_path}
      .slider
        = image_tag('slider_featured.png', :alt => '', :class => 'green_line')
        .image-carousel{:dataurl => "/search/carsousel_images"}
          .carousel-image
            %a.profile_link{:href => attorney_path(lawyer, slug: lawyer.slug)}
              = image_tag default_image.photo.url(:large), :alt => ""
          .carousel-description
            .ratings
              %h4= link_to "#{lawyer.full_name}", attorney_path(lawyer, slug: lawyer.slug)
              .online_icons
                - if lawyer.is_online
                  %span.video.online= start_or_video_button_p(lawyer)
                - else
                  %span.video.offline
                - if lawyer.phone.present? 
                  %span.voice.online= start_phone_consultation_p(lawyer)
                - else 
                  %span.voice.offline
                %span.note= start_or_schedule_button_text_profile(lawyer)
                %span.text
                .video_chat.online.tooltip Available for video chat
                .voice_chat.online.tooltip Available for voice chat
                .note_chat.tooltip Ask (text) question
                .text_chat.tooltip No appointments available
                .video_chat.offline.tooltip Not available by video now
                .voice_chat.offline.tooltip Not available by phone now
            %p.desc= raw(description)
            #carousel-buttons
              %a.free{:href=> "#"}
                %p.rate= "#{lawyer.free_consultation_duration} minutes free"
                %p.small="then #{number_to_currency (lawyer.rate + AppParameter.service_charge_value)}/minute"
              .button_tooltip
                .button-content
                  %ul
                    
                    %li.shedule
                      = start_or_schedule_button(lawyer) # start_video_button(lawyer)
                    - lo_callable = lawyer.is_online && !lawyer.is_busy && lawyer.phone.present?
                    %li.phone{:style => "display: #{lo_callable ? 'list-item' : 'none'}"}
                      = start_phone_consultation(lawyer)
                    %li.text
                      = start_or_schedule_button_text(lawyer)
              .stars
                - if  lawyer.reviews.average(:rating).to_i !=0 
                  = link_to_unless_current content_tag(:div, "", class: "rating", data: { score: lawyer.reviews.average(:rating).to_i }), attorney_path(lawyer, slug: lawyer.slug, anchor: "reviews"), class: "rating-stars"        
              .rev_for_js
                - if lawyer.reviews.count.to_i != 0
                  %a.reviews{:href => "/attorneys/#{lawyer.id}/#{CGI::escape(lawyer.full_name)}#reviews"} 
                    %span.number_rev= "#{lawyer.reviews.count} reviews"
#bottom_content
  .left_bar
    %h2 How Lawdingo works:
    .feature
      %a{:href => "/lawyers"}
        = image_tag('feature_1.png', :alt => '')  
      .feature_description
        %h3 1 - Browse relevant lawyers
        %p Filter by state, practice areas, experience, price and more. All lawyers on Lawdingo work with you virtually.
    .feature
      %a{:href => "/lawyers"}
        = image_tag('feature_2.png', :alt => '')  
      .feature_description
        %h3 2 - Start a video or voice chat consultation
        %p Without leaving your phone or computer, you can start a consultation for free, or schedule a consultation for later.
    .feature
      %a{:href => "/lawyers"}
        = image_tag('feature_3.png', :alt => '')  
      .feature_description
        %h3 3 - Pay only for extended advice
        %p For complex issues that extend past the free consultation, just pay by the minute (not by the hour!) with your credit card. Write a review when you're done!
  -#.right_bar
    %h2 Introduction video
    = image_tag('video.png', :alt => '')  
    .testimonials
      %h2 Testimonials
      .avatar
        = image_tag('ava.png', :alt => '')
        %p Johne Dwayne
      .testimonial_description
        %p
          //%span.open_quotes
          At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.
          //%span.close_quotes
          
          
:javascript
  $ (".rating").raty({
      path: "/assets/raty",
      hintList: ['', '', '', '', '', ''],
      readOnly: true,
      start: function() {return $(this).data("score")}
  })
  function equalHeight(group) {
    tallest = 0;
    group.each(function() {
       thisHeight = $(this).height();
       if(thisHeight > tallest) {
          tallest = thisHeight;
       }
    });
    group.height(tallest);
  }
  $(document).ready(function() {
    $('.row').each(function(){

      equalHeight($(this).find(".row_block"));
    });
  });