
<% is_client = @user.is_client? %>

        <div id="page" class="signup">
            <% if is_client %>

            <span class="pre-clause">To speak to an attorney you must first...</span>
            <h1>Sign up for Lawdingo</h1>
            <h3>Lawyers, <%= link_to "apply here", new_user_path(:ut=>1) %>. Members, <%= link_to "log in", "" %>.</h3>
              <% else %>
             <h1>Lawdingo Lawyer Application</h1>
            <h3>New members, <%= link_to "Sign Up", new_user_path %>. Members, <%= link_to "log in", "" %>.</h3>

              <%end%>
            <div>


 <%= render 'form' %>


           <span class="fine-print">By clicking "Create Account" you confirm that you accept the <a href="/terms">Terms of Service</a></span>

       </div>
        </div>

