
<% is_client = @user.is_client? %>

        <div id="page" class="signup">
            <% if is_client %>

            <span class="pre-clause">To speak to an attorney you must first...</span>
            <h1>Sign up for Lawdingo</h1>
            <h3>Lawyers, <%= link_to "apply here", new_lawyer_path %>. Members, <%= link_to "log in", login_path %>.</h3>
              <% else %>
             <h1>Lawdingo Lawyer Application</h1>
            <h3>New members, <%= link_to "sign up", new_user_path(:ut => 0) %>. Members, <%= link_to "log in", login_path %>.</h3>
              <%end%>
            <div>


 <%= render 'form' %>

          <% unless params[:ut].present? %>
           <span class="fine-print">By clicking "Join Lawdingo" you confirm that you accept the <a href="/terms" target="_blank">Terms of Service</a></span>
          <% else %>
           <span class="fine-print">By clicking "Apply as Lawyer" you confirm that you accept the <a href="/terms" target="_blank">Terms of Service</a></span>
          <% end %>
       </div>
        </div>

