<% is_client = @user.is_client? %>

<div id="page" class="signup">
  <% if params[:lawyer_path].present? %>
    <% @lawyer = Lawyer.find(params[:lawyer_path]) %>
    <% if params[:notice].present? %>
      <p class="notice">
        <% if @lawyer %>
          To connect with <%= @lawyer.full_name %>, simply sign up or sign in with Lawdingo.
        <% end %>
        <a href="#" id="close_notice">Close</a>
      </p>
    <% end %>
  <% end %>

  <% if params[:question_notice].present? %>
    <p class="notice">
      To submit that inquiry please sign up with or log in to Lawdingo.
      <a href="#" id="close_notice">Close</a>
    </p>
  <% end %>

  <% if params[:appointment_with].present? %>
    <% @lawyer = Lawyer.find(params[:appointment_with].to_i) %>
    <% if @lawyer.present? %>
      <p class="notice">
        To make an appointment with <%= @lawyer.full_name %>, please sign up with or log in to Lawdingo.
        <a href="#" id="close_notice">Close</a>
      </p>
    <% end %>
  <% end %>

  <% if is_client %>
    <h1 class="form-header">Start using Lawdingo</h1>
  <% else %>
    <h1 class="form-header">Apply for an Attorney Account</h1>
  <% end %>
  

    
  <div class="form-wrapper">
    <%= render 'form' %>
  </div>
  
  <div class="form-wrapper signin">
    <% if @lawyer %>
      <p>Already a Lawdingo member? <%= link_to "Log in", login_path(session[:return_to], lawyer_path: @lawyer.id)%> now.</p>
    <% else %>
      <p>Already a Lawdingo member? <%= link_to "Log in", login_path(session[:return_to])%> now.</p>
    <% end %>
  </div>


  <% if is_client %>
    <h3 style="color: #818181;">Lawyer? <%= link_to "Apply here", new_lawyer_path %>.</h3>
  <% end %>
</div>
