<div id="page" class="signup">
<p class="notice">To connect with the lawyer, just enter your phone number. In a minute you’ll be magically connected to <%= @lawyer.first_name %> by conference call.</p>
<div>
<%= form_tag create_call_path(:lawyer_id =>params[:id]), :id=>"phone_input_form" do %>
    <span class="phone-label">Your phone number:</span><br/>
    <input type="text" id="client_number" value="<%= params[:number] %>" name="client_number" />
    <%= submit_tag "Continue", :class=>"button" %>
<% end %>
</div>
</div>
<%= javascript_tag do %>
/*$('#phone_input_form').submit(function() {
  var phone_reg_ex = /((\(\d{3}\) ?)|(\d{3}-))?\d{3}-\d{4}/
  var phone = $('#client_number').val();
  if (phone_reg_ex.test(phone)) {
    $.prompt("valid phone number");
    return true;
  } else {
    $.prompt("Invalid phone number");
    return false;
 }
});*/
<% end %>

