#top_content
  #center_area
    .white_glow
      .start_off_info
        = image_tag('start_off_info.png', :alt => '')
        %h1 Legal advice at your fingertips
        %p Skip the hassle! Find and talk to a lawyer online now
        %a.browse_lawyers_button{:href => '#'}
      .slider
        .image-carousel{:dataurl => "/search/carsousel_images"}
          .carousel-image
            = image_tag('slider1.png', :alt => '')
          .carousel-description
            .ratings
              %h4 Trevor Caudle
              .stars
                %span.star_rating.on
                %span.star_rating
                %span.star_rating
                %span.star_rating
                %span.star_rating
            %p Advising on real estate / rentals, business / startups, personal injury and patents / ip law. 30 minutes free consultation, then $1.00/minute.
            %a.free{:href=> "#"}
              %p 20 minutes free
              %p.small then $2.50/minute
            %a.reviews{:href => '#'}
              Read reviews (25)
          
#bottom_content
  .left_bar
    %h2 How it works:
    .feature
      = image_tag('feature_1.png', :alt => '')  
      .feature_description
        %h3 1- Browse and choose a lawyer
        %p Chuck turducken corned beef. Capicola turkey meatloaf shoulder.
    .feature
      = image_tag('feature_2.png', :alt => '')  
      .feature_description
        %h3 2- Talk to them for free
        %p Pig shankle short loin ham hock pork chop jowl, venison spare ribs leberkas.
    .feature
      = image_tag('feature_3.png', :alt => '')  
      .feature_description
        %h3 3- Pay for long consultation only
        %p Short ribs strip steak frankfurter, cornerd beef vension fatback speck pastrami.              
  .right_bar
    %h2 Introduction video
    = image_tag('video.png', :alt => '')  
    .testimonials
      %h2 Testimonials
      .avatar
        = image_tag('ava.png', :alt => '')
        %p Johne Dwayne
      .testimonial_description
        %p
          //%span.open_quotes
          At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.
          //%span.close_quotes

  
    
    