
 List of Lawyers <span style="float: right;"> <%= link_to 'Add New Lawyer', new_admin_lawyer_path %> </span> <hr/>

<table>
  <thead>
    <tr>
      <td>Name</td> <td>Email</td><td></td>
    </tr>
  </thead>
  <tbody>
    <% @users.each{|user|  %>
      <tr>
        <td> <%= link_to user.full_name, user_path(user) %> </td>
        <td> <%= user.email %> </td>
        <td>
          <%= link_to 'View Sessions', user_session_history_path(user.id) %> &nbsp;&nbsp;|
          <%= link_to user.is_approved? ? 'Diapprove' : "Approve", admin_lawyer_account_approval_path(user.id) %> &nbsp;&nbsp;|
          <%= link_to "Edit", edit_user_path(user.id) %> &nbsp;&nbsp;|
          <%= link_to "Remove", admin_lawyer_path(user.id), :method =>:delete, :confirm =>"Are you sure?" %>
        </td>
      </tr>
    <% } %>
  </tbody>
</table>





