<% title "#{@attorney.full_name} — #{@attorney.licenced_states.join(', ')} lawyer advising on #{@attorney.areas_human_list} on Lawdingo" %>

<div id="results">
  <%= link_to "← Back to all lawyers", "javascript:history.back()", class: "back-link" %>

  <%= render partial: "lawyer/lawyer", locals: { lawyer: @attorney } %>
  <div class="details">
    <% if @attorney.has_video? %>
    <div id="intro_video">
      <%= content_tag :h3, "#{@attorney.first_name}'s self-introduction video:" %>
      <%= render_player({
          video_url: @video.flv_url,
          thumbnail_url: @video.large_thumbnail_url,
      }) %>
    </div>
    <% end %>

    <div class="columns">
      <div class="column areas">
        <%= content_tag :h3, "#{@attorney.first_name}'s key practice areas:" %>
        <%= render collection: @attorney.practice_areas.where(parent_id: nil).order("name"), partial: "attorneys/area", as: :area, locals: { lawyer: @attorney } %>
      </div>

      <div class="column background">
        <% if @attorney.school.present? %>
        <%= content_tag :h3, "#{@attorney.first_name}'s background:" %>
        <h4>Law school</h4>
        <ul>
          <li><%= @attorney.school.name %></li>
        </ul>
        <% end %>

        <% if @attorney.license_year.present? %>
        <h4>Years practicing law</h4>
        <ul>
            <li><%= pluralize years_practicing_law(@attorney), "year", "years" %></li>
        </ul>
        <% end %>
      </div>
    </div>

    <% if @attorney.offerings.any? %>
    <div class="offers-container">
      <%= content_tag :h3, "#{@attorney.first_name}'s fixed-price offers:" %>
      <%= render collection: @attorney.offerings, partial: "offerings/offering", locals: { lawyer: @attorney } %>
    </div>
    <% end %>

    <% if @attorney.reviews.any? %>
    <div class="reviews-container">
      <h3>Client reviews:</h3>
      <ul class="reviews" id="reviews">
        <%= render @attorney.reviews.order("created_at DESC") %>
      </ul>
    </div>
    <% end %>
  </div>
</div>
