<% title "#{@attorney.full_name} — #{@attorney.licenced_states.join(', ')} lawyer advising on #{@attorney.areas_human_list} on Lawdingo" %>

<div id="results">
  <%= render partial: "lawyer/lawyer", locals: { lawyer: @attorney } %>
  <div class="details">
    <div class="columns">
      <div class="column areas">
        <%= content_tag :h3, "#{@attorney.first_name}'s key practice areas:" %>
        <%= render collection: @attorney.practice_areas, partial: "attorneys/area", as: :area %>
      </div>

      <% if @attorney.school.present? %>
      <div class="column background">
        <%= content_tag :h3, "#{@attorney.first_name}'s background:" %>
        <h4>Law school</h4>
        <ul>
          <li><%= @attorney.school.name %></li>
        </ul>
      </div>
      <% end %>
    </div>
  </div>
</div>
