:javascript
  $(DailyHoursIndex.initialize)

%div#page.frameyvideo
  %div
    .profile
      = render(:partial =>  "lawyers/menu", :locals => {:lawyer => @lawyer})
      .profile_wrapper.same_height
        .profile_availability
          .title
            Set availability
          = render  partial: '/users/iphone_handle', locals: {:lawyer => @lawyer}
          .clear
        #dh_wrap.profile-block.same_height
          = form_tag(user_daily_hours_path(:user_id => @lawyer.id), :method => :put, :id => "user_daily_hours") do
            %ul
              - (0..6).each do |wday|
                - # using on_wday didn't work here because it's not always 
                - # a real association collection
                - daily_hour = @daily_hours.select{|dh| dh.wday == wday}.first
                %li{:class => cycle("white", "gray")}
                  %b #{Date::DAYNAMES[wday]}
                  #{daily_hours_time_select("start_time", wday)}
                  %span.daily_to
                    to
                  #{daily_hours_time_select("end_time", wday)}
                  - if daily_hour.present? && daily_hour.errors.present?
                    %div.error
                      #{daily_hour.errors.full_messages.join(", ")}
  
              %li.last
                %button.button{:type => "submit"}
                  Save