
#page.framey-video
  %div
    .profile
      = render partial: "lawyers/menu", locals: { lawyer: current_user }
      .profile_wrapper.same_height
        .profile_availability
          .title
            Intro video
          = render partial: '/users/iphone_handle', locals: {:lawyer => current_user}
          .clear
        .profile-block
          %h2 Introduce yourself to prospective clients in a video of up to two minutes long.
          - unless @lawyer.has_video?
            .recorder-wrapper
              %input#FrameyRecorder{"data-params" => "{ api_key: '#{Framey::API_KEY}', max_time: '120'}", :type => "video"}/
            %p Remember to click “Publish” when you’re done recording.
          - else
            .player-wrapper
              = render_player({                              |
                  video_url: @video.flv_url,                 |
                  thumbnail_url: @video.large_thumbnail_url, |
                })                                           |
              .controls
                = link_to "Re-record", @video, method: :delete, confirm: "Are you sure?", class: "button gray"
                %span.notice Current video will be deleted.
= javascript_tag do
  \// Id of framey input[type="video"]
  var recorderId = "FrameyRecorder";

  \// Set user id as a creator_id
  Framey.observe(recorderId, "recordClicked", function(data) {
  Framey.getRecorder(recorderId).setAllSessionData({"creator_id": #{current_user.id.to_s if current_user.present?}});
  });