<%
#detail  = user.detail
photo_url = user.photo.url(:medium)
tab       = tab == User::ACCOUNT_TAB ? tab : User::SESSION_TAB
txt_color = ['black','blue']
%>
<div>
  <div style="font-size:14px;margin-right:8px;margin-bottom:10px;font-weight:bold;">
      <%= link_to_unless_current "Account information", user_path(user, :t => User::ACCOUNT_TAB) %> |
      <%= link_to_unless_current "Summary of sessions", user_path(user, :t => User::SESSION_TAB) %> |
      <%= link_to_unless_current "Fixed-price offerings", user_offerings_path(user) %>
  </div>
    <% if tab == User::ACCOUNT_TAB %>
      <%#= render :partial =>"/users/account_info", :locals => {:user => user} %>
      <%= render :partial =>"/users/edit_info", :locals => {:user => user} %>
    <% elsif tab == User::SESSION_TAB %>
      <%= render :template =>"/conversations/index" %>
    <% end %>


<% if false %>
  <div>
    <div class="">
      <% if is_self_login?(user.id) or is_admin_login? %>
        <span style="float:right;">
          <%= link_to "Edit", edit_user_path(user.id), :title =>"Edit Account"  %>
        </span>
      <% end %>
    </div>
    <div class="desc">
      <%= image_tag photo_url %><br/>
      <% if is_self_login?(user.id) or is_admin_login? %>
        <%= render :partial =>"/users/upload_image", :locals =>{:user =>user} %>
      <% end %>
    </div>
  </div>
<% end %>
</div>

