<div class="row" id="lawyer_<%= lawyer.id %>">
  <%= hidden_field(:current, :lid) %>
    <!-- CALL TO ACTION -->
    <div class="action">
    <% if lawyer.is_online? %>
      <%= link_to "Start Video Consultation", user_chat_session_path(lawyer), :title =>"Start Video Consultation", :class =>'button' %>
      <% else %>
      <a href="#schedule_session" data-l_id="<%= lawyer.id %>" class="dialog-opener button yellow">Schedule Session</a>
      <% end %>
        <div class="price">
            <span class="amt"><sup class="curr">$</sup><%= lawyer.rate %></span><span class="rate">/min</span><span class="xtra">+<%= @app_charge || AppParameter.service_charge_value %>/min fees</span>
            <div class="free">free initial consultation</div>
        </div>
    </div>
    <!-- END CALL TO ACTION -->

    <%= image_tag lawyer.photo.url(:thumb, :alt => "#{lawyer.full_name}") %>

    <!-- RESULT INFO -->
    <div class="info">
        <h3>Attorney <%= lawyer.full_name %></h3>, <% unless lawyer.bar_memberships.blank? %> , licensed in <%= lawyer.bar_memberships %> <% end %>
        <div class="tagline"><%= lawyer.personal_tagline %></div>
        <div class="specialities">Specialties : <%= lawyer.practice_areas %></div>
        <div class="verified">Bar membership and credentials verified</div>
    </div>
    <div class="clear"></div>
    <!-- END RESULT INFO -->
</div>

