<div class="row" id="lawyer_<%= lawyer.id %>">
  <%= hidden_field(:current, :lid) %>
    <!-- CALL TO ACTION -->
    <div class="action">
       <div class="free">free initial consultation, then:</div>
        <div class="price">
            <span class="amt"><%= number_to_currency lawyer.rate %></span><span class="rate">/min</span><span class="xtra">+<%= number_to_currency @app_charge || AppParameter.service_charge_value %>/min fees</span>
        </div>
    </div>
    <!-- END CALL TO ACTION -->
    <%= image_tag(lawyer.photo.url(:thumb)) %>

    <!-- RESULT INFO -->
    <% bms = []
    bms = lawyer.bar_memberships unless lawyer.bar_memberships.blank?
      licenced_states = ""
      bms.each{ |bm|
        licenced_states += bm.state.abbreviation + ', '
      }
      licenced_states.chomp!(', ')
      pas = []
      pas = lawyer.practice_areas.parent_practice_areas unless lawyer.practice_areas.blank?
      pas_string = ""
      pas.each{|pa|
        pas_string += pa.name + ', '
      }
      pas_string.chomp!(', ')

      pas_names = pas.map { |area| area.name.downcase  }
      pas_names_last = pas_names.pop
      pas_names_list = pas_names.empty? ? pas_names_last : "#{pas_names.join(', ')} and #{pas_names_last}"
      %>
    <div class="info">
      <h3><%= "#{lawyer.full_name}" %></h3>
      <div class="tagline"><%= lawyer.personal_tagline.present? ? "“#{lawyer.personal_tagline}”" : "" %></div>
      <ul class="verified">
        <% unless lawyer.bar_memberships.blank? %>
          <li>Licensed in <%= licenced_states %></li>
        <% end %>
        <% unless lawyer.practice_areas.blank? %>
          <li class="last-child">Advises on <%= @practice_area.present? ? @practice_area.name.downcase : "#{pas_names_list} law" %></li>
        <% end %>
      </ul>

      <div class="action-button">
        <%= start_or_schedule_button(lawyer) %>
      </div>
    </div>
    <div class="clear"></div>
    <!-- END RESULT INFO -->
</div>

