- video_callable = lawyer.is_online && !lawyer.is_busy && lawyer.phone.present?
%li.shedule{:style => "display: #{video_callable ? 'list-item' : 'none'}"}
  = start_or_video_button_text(lawyer) # start_video_button(lawyer)
- phone_callable = lawyer.is_available_by_phone?
%li.phone{:style => "display: #{phone_callable ? 'list-item' : 'none'}"}
  = start_phone_consultation(lawyer)
- appointment_presnt = lawyer.daily_hours.present?
%li.note
  = start_or_schedule_button_text(lawyer)
%li.appt{:style => "display: #{appointment_presnt ? 'list-item' : 'none'}"}
  = schedule_consultation_button_text(lawyer) if lawyer.daily_hours.present? 