<% title "Lawdingo Client Inquiry" %>

<div id="page">
  <% if flash.any? %>
    <%= notice text: flash[:notice] %>
  <% end %>

  <div>
    <div class="inner">
      <h1>Client Inquiry</h1>
      <%= simple_format @inquiry.question.body, class: "question" %>

      <%= render "details" %>

      <div class="bids">
        <span class="label">Current bids:</span>

        <%= render "current_bids" %>

        <small class="notice">The three highest bidders will be able to contact the client, and will each be charged the third-highest bid.</small>

        <% unless @inquiry.expired? %>
          <%= simple_form_for @bid do |f| %>
            <%= f.input :amount, as: :currency, label: "Edit your bid:", hint: "minimum #{number_to_currency @inquiry.minimum_bid}", input_html: { data: { minimum_bid: @inquiry.minimum_bid } }, autofocus: true %>
            <%= f.input :inquiry_id, as: :hidden, input_html: { value: @inquiry.id } %>
            <%= f.input :lawyer_id, as: :hidden, input_html: { value: current_user.id } %>
            <%= f.input :stripe_card_token, as: :hidden unless current_user.stripe_customer_token.present? %>

            <div class="countdown-wrapper">
              <span class="label">time remaining:</span>
              <%= content_tag :div, "", class: "countdown",
                data: {
                  expiration_year: @inquiry.expiration(:year),
                  expiration_month: @inquiry.expiration(:month),
                  expiration_day: @inquiry.expiration(:day),
                  expiration_hours: @inquiry.expiration(:hours),
                  expiration_minutes: @inquiry.expiration(:minutes),
                  expiration_seconds: @inquiry.expiration(:seconds)
              } %>
            </div>

            <%= render "bids/payment_form" unless current_user.stripe_customer_token.present? %>

            <%= f.submit "Place bid", class: "button", data: { ensure_card_details: !current_user.stripe_customer_token.present? } %>
          <% end %>
        <% else %>
          <span class="closed-biding-label">Biding closed</span>
        <% end %>
      </div>
    </div>
  </div>
</div>
