<!DOCTYPE html>
<html>
  <head>
    <title>Lawdingo</title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= tag :meta, :name => "stripe-key", :content => STRIPE_PUBLIC_KEY %>
 </head>
 <body>
  <div id="page">
    <div id="header">
      <div id="hleft">
        <% if current_user && current_user.is_lawyer? %>
            <%= link_to image_tag("logo.png" ,:border=>0), user_path(current_user, :t=>'l'), :title=>'Home Page' %>
          <% else %>
            <%= link_to image_tag("logo.png" ,:border=>0), root_path, :title=>'Home Page' %>
         <% end %>
        <%= AppParameter.service_homepage_tagline %>
      </div>
      <div id="hright">
          <% if logged_in?
            user = current_user
          %>
            Logged in as <b><%= link_to user.full_name, user_path(user.id), :title =>'Account Profile!' %>|
            <%= link_to "Logout", logout_path, :title =>'Logout from the app!' %>
          <% else %>
            Lawyer? <%= link_to "Appy to Lawdingo", new_user_path(:ut=>1) %> or <%= link_to "log in", login_path  %>
            <br/>
            Client? <%= link_to "Signup", new_user_path %> or <%= link_to "log in", login_path  %><br/>
          <% end %>
      </div>
      <div class="clear"></div>
    </div>
    <div id="content">
        <% if flash[:notice] %>
          <div class="notice">
            <%= flash[:notice].html_safe %>
          </div>
        <% end %>
        <div class="mainc">
       <%= yield %>
        </div>

       <% if user and user.user_type == 'LAWYER' %>

<div id="outer_div" style="height:2px;position:absolute;left:-2000px;">
<a href="javascript:if(confirm('Are you sure?')){closecall();};" >Close</a>
<div id="flash_div">

	            <object id='myswf' classid='clsid:D27CDB6E-AE6D-11cf-96B8-444553540000' height='380' width='680'>
	              <param name="wmode" value="transparent"/>
	              <param name='src' value='/swf/VideoChat.swf'/>
	              <param name='FlashVars' value="user_id=<%= user.id %>&user=<%= user.full_name %>&uemail=<%= user.email %>&lawyer_id=<%= user.id %>&lawyer=<%= user.full_name %>&lemail=<%= user.email %>&hosturl=<%= request.env['HTTP_HOST'] %>&imgsrc=/images/phone.jpg&lrate=<%= user.rate %>&crate=<%= AppParameter.service_charge_value %>"/>
	              <param name="allowScriptAccess" value="always" />
	              <embed name='mySwf' src='/swf/VideoChat.swf' allowScriptAccess='always' height='380' width='680' FlashVars="user_id=<%= user.id %>&user=<%= user.full_name %>&uemail=<%= user.email %>&lawyer_id=<%= user.id %>&lawyer=<%= user.full_name %>&lemail=<%= user.email %>&hosturl=<%= request.env['HTTP_HOST'] %>&imgsrc=/images/phone.jpg&lrate=<%= user.rate %>&crate=<%= AppParameter.service_charge_value %>" wmode="transparent" ></embed>
	            </object>
	          </div>
          </div>
      <% end %>
      </div>

      <div id="footer">
          <div id="ftleft">
            &copy; Lawdingo, Inc.
          <a href="javascript:showFlash()">Open caller window</a>
          </div>
          <div id="ftright">
            <%= link_to "About", about_page_path %> &nbsp; | &nbsp;
            <%= link_to "Contact", "mailto:sup@lawdingo.com" %> &nbsp; | &nbsp;
            <%= link_to "Blog", "http://lawdingo.wordpress.com", :target =>'_blank' %> &nbsp; | &nbsp;
            <%= link_to "Terms & Privacy", terms_page_path %>
          </div>
          <div class="clear"></div>
      </div>

  </div>
</div>
<script type="text/javascript">
  function showFlash()
      {
        $('#outer_div').css({"left":"400px","top":"40px",
                              "height":"380px","border":"solid #000 2px","padding":"2px"});
        $('.mainc').css("display","none");
     }
  function closecall()
    {
          $('#outer_div').css({"left":"-2000px","height":"2px"});
          $('.mainc').css("display","block");
    }
</script>
</body>
</html>

