<!DOCTYPE html>
<html>
    <head>
      <title><%= content_for?(:title) ? yield(:title) : "Lawdingo: Ask a Lawyer Online Now - Free Consultations for Your Legal Questions" %></title>
      <%= stylesheet_link_tag    "application" %>
      <%= javascript_include_tag "application" %>
      <%= javascript_include_tag 'site', 'users', 'twipsy', 'hints', 'jquery.timer','swfobject','jquery-impromptu.3.2'%>
      <%= javascript_include_tag "https://js.stripe.com/v1/", "payment" %>
      <% if current_user && current_user.user_type == 'LAWYER' %>
        <script type = "text/javascript"> swfobject.registerObject("mySwf", "10.2.0");</script>
      <% end %>
      <%= csrf_meta_tags %>
      <%= tag :meta, :name => "stripe-key", :content => STRIPE_PUBLIC_KEY %>

      <% if ENV['RAILS_ENV'] == 'production' %>
        <script type="text/javascript">
           var _gaq = _gaq || [];
           _gaq.push(['_setAccount', 'UA-3494749-4']);
           _gaq.push(['_trackPageview']);

           (function() {
              var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
              ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
              var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
           })();
        </script>
      <% end %>
    </head>
    <body id="lawdingo" class="<%= params.values_at(:controller, :action).join(' ') %>" onload="">

        <!-- HEADER -->

        <div id="header">
            <div>
                <div class="links">
                  <% if logged_in?
                    user = current_user
                    full_name = user.full_name
                  %>
                    Logged in as<%= link_to full_name, user_path(user.id), :title =>'Account Profile!' %>
                    | <%= link_to "Log out", logout_path, :title =>'Logout from the app!' %>
                  <% else %>
                    <%= link_to "Log In", login_path  %> <%= link_to "Sign Up", new_user_path(:ut=>0) %>
                    Lawyers: <%= link_to "Apply Here", new_lawyer_path %>
                  <% end %>
                </div>
                <%= logo_url %>
            </div>
        </div>
        <!-- END HEADER -->

        <!-- CONTENT -->
        <div id="container">
       <%= yield %>
</div>
        <!-- END CONTENT -->
    <% if user and user.user_type == 'LAWYER' %>

<div id="outer_div" style="position:absolute; width:960px; height:800px; left: -2000px;">
<div style="margin:0 auto;width:960px;height:410px;">
<strong><a href="javascript:if(confirm('Are you sure?')){closecall();};" >Close</a></strong>
	 <div id="flash_div">
    <object id="mySwf" name="mySwf" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="960" height="410">
        <param name='movie' value="/swf/videochat.swf"/>
        <param name='FlashVars' value="user_id=<%= user.id %>&user=<%= full_name %>&uemail=<%= user.email %>&lawyer_id=<%= user.id %>&lawyer=<%= full_name %>&lemail=<%= user.email %>&http_type=https://&hosturl=<%= request.env['HTTP_HOST'] %>&imgsrc=/images/phone.jpg&lrate=<%= user.rate %>&crate=<%= AppParameter.service_charge_value %>"/>
        <param name="allowScriptAccess" value="always" />
        <param name="wmode" value="transparent" />
        <!--[if !IE]>-->
        <object type="application/x-shockwave-flash" data="/swf/videochat.swf" allowScriptAccess='always' wmode='transparent' width="960" height="410" FlashVars="user_id=<%= user.id %>&user=<%= full_name %>&uemail=<%= user.email %>&lawyer_id=<%= user.id %>&lawyer=<%= full_name %>&lemail=<%= user.email %>&http_type=https://&hosturl=<%= request.env['HTTP_HOST'] %>&imgsrc=/images/phone.jpg&lrate=<%= user.rate %>&crate=<%= AppParameter.service_charge_value %>">
        <!--<![endif]-->
          <p style="text-align:center;"><a href="http://www.adobe.com/go/getflashplayer" class="button">Upgrade to Flash Player 11</a></p>
        <!--[if !IE]>-->
        </object>
        <!--<![endif]-->
      </object>
      </div>
  </div>
</div>
<%= javascript_tag do %>
var playerVersion = swfobject.getFlashPlayerVersion(); // returns a JavaScript object
        if(playerVersion.major < 10 || (playerVersion.major == 10 && playerVersion.minor < 3))
        {
            var output = "You have Flash player " + playerVersion.major + "." + playerVersion.minor + "." + playerVersion.release + " installed. To use Lawdingo you'll just need to upgrade to Flash 11. It's free and easy <a href=\"http://www.adobe.com/go/getflashplayer\" >Upgrade to Flash Player 11</a>";
            $.prompt( output )
        }

<% end %>
      <% end %>

        <!-- FOOTER -->
        <div id="footer">
            <div>
                <ul class="links">
                    <li><%= link_to "About", about_page_path %></li>
                    <li><%= link_to "Contact", "mailto:sup@lawdingo.com" %></li>
                    <li><%= link_to "Blog", "http://lawdingo.wordpress.com", :target =>'_blank' %></li>
                    <li><%= link_to "Terms & Privacy", terms_page_path, :target=>'_blank' %></li>
                </ul>
                <div id="copyright">&copy; Lawdingo</div>
            </div>
        </div>
        <!-- END FOOTER -->
        <div id="dialog-overlay"></div>
    <% if current_user && current_user.user_type == 'CLIENT' && params[:action] != 'show' %>
        <div id="paid_schedule_session" class="dialog-window">
        <ul>
        <div class="error_explanation">
        <ul class="errors">
          <li> <div id="stripe_errors" class ="stripe_error" style="color:red;"></div></li>
          <li> <div class ="stripe_error" style="color:red;"></div></li>
        </ul>
      </div>
      </ul>
        <%= form_tag("/updatePaymentInfo", :id => 'payment-form', :remote =>true) do %>
          <div class="sealed" style="position: absolute; bottom: 24px; right: 22px;">
            <%= render "godaddy_seal" %>
          </div>
          <%= hidden_field_tag :stripe_card_token %>
          <%= hidden_field_tag :form_type, "ajax" %>
          <%= hidden_field_tag :attorney_id %>
            <h3 class="paid_model_header">To start a phone consultation, you'll need to have payment information on file. The first two minutes of the call are free.</h3>
	    <label>Credit card number:</label><br/>
	    <input type="text" name="card_number" autocomplete="off" placeholder="Credit card number" maxlength="26" size="26" id="card_detail_card_number"></input>
	   <div id="security_wrapper">
		  <div id="exp_group">
			  <label>Expiration:</label><br/>
			  <select id="card_month" name = "expire_month">
			  <% for i in 0..11 %>
			    <option <%= "selected='selected'" if i==0 %> value="<%= i+1 %>"><%= i+1 %></option>
			  <% end %>
			  </select>
			  <%= select_year nil, {start_year: Date.today.year, end_year: Date.today.year+5}, {name: "expire_year", id: "card_year"} %>
		  </div>
		  <div id="sec_group">
			  <label>Security code:</label><br/>
			  <input id="card_detail_card_verification" type="password" size="9" autocomplete="off" name="scode" maxlength="4"></input>
			  <div src="question.png" class="help-text" tooltip="The three or four digit code on the back of your card."></div>
		  </div>
	  </div>
	    <%= submit_tag("Start Paid Session", :id => 'payment_overlay_submit_button', :class => "button blue small_font") %>
	    <% end %>
    </div>
    <% end %>

<%= javascript_tag do %>
      $(document).ready(function(){
        var timer = $.timer(function() {
          $.ajax({
            url: "/UpdateOnlineStatus",
            type:'post',
            success: function(response){
              }
          });
        });
        timer.set({ time : 20000, autostart : true });
      });

<% end %>
    </body>
</html>

